*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.global-logo-container{
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-gradient-square{
	width: 35vw;
	height: 35vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(15deg, #ffcc00, orange 15%, red 40%, #990073 70%, #8000ff );
	border-radius: 8vw;
}

.logo-white-square{
	width: 30vw;
	height: 30vw;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	background: #fff;
	border-radius: 6vw;
}

.logo-gradient-central-circle{
	width: 19vw;
	height: 19vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(15deg, orange 15%, red 30%, #990073 90%, #8000ff );
	border-radius: 50%;
}

.logo-white-central-circle{
	width: 14vw;
	height: 14vw;
	background: #fff;
	border-radius: 50%;
}

.logo-small-gradient-circle{
	width: 4.5vw;
	height: 4.5vw;
	background-image: linear-gradient(45deg, red, #990073 70%);
	border-radius: 50%;
	position: absolute;
	top:  2.7vw;
	right: 2.7vw;
}